/* CDN 방식으로 폰트를 가져온다 */
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  box-sizing: border-box;
}

a.navbar-brand{
  font-family: 'Jeju Gothic';
}

.stikyFooter{
  position: sticky;
  display: block;
  bottom: 0px;
  left: 0px;
}

#WhiteSpaceForResponsivePage{
  width: 100%;
  height: 250px;
}

#AnchorForSignUp{
  font-size: 30px;
  margin-top:70px;
  display: block;
}

#Background{
  background-color: #e3e3e3 !important;
}

#Copyright{
  font-family: 'Jeju Gothic';
  font-size: 12pt;
  text-align: center;
  color: #f2f2f2;
  width: 100%;
  bottom: 0px;
}

#Copyright em{
  font-size: 12pt;
}

#FixedNavbar{
  border-bottom: #f8fc25 3px solid;
}
